body{
    background-image: url('./what2.jpg');
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
    box-sizing: border-box;
    font-family: sans-serif;
}
html, body {overflow-x: hidden;}
  #check {
  display: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.logo img {
  height: 50px;
  width: auto;
}

.nav-links {
  display: flex;
  gap: 10px;
}

.nav-links a {
  font-size: 1.1rem;
  color: black;
  text-decoration: none;
}


.open-menu ,
.close-menu {
  display: none;
  font-size: 2rem;
  cursor: pointer;
  color: black;
}
.close-menu {color: black;}
.hero {
    width: 100%;
    max-width: 1200px;
    padding: 130px 20px;
    padding-left: 80px;
    height: 100vh;
}
h1 {
    font-style: italic;
    font-size: 3.5rem;
    color: black;
}
.theme {
    font-style: normal;
    font-size: 4rem;
    color: black;
}
.hero p {
    color: black;
    margin: 5px;
    line-height: 1;
    font-size: 2rem;
}
.view-btn {
    padding: 10px 15px 10px 15px;
    font-size: 1.2rem;
    background-color: bisque;
    color: black;
    border: 1px solid black;
    border-radius: 3px;
    cursor: pointer;
    transition: 2s ease-in-out;
}
.view-btn:hover{
    color: black;
}
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
  
}
.icons { display: flex; gap: 20px;}
.icons i {font-size: 25px; color: black;}
.footer p {margin-bottom: 0; padding-bottom: 0;}
@media (max-width: 680px) {
    body {
     background-position: center;
     background-size: cover;
    }
    .open-menu {
    display: block;
  }

  .nav-links {
    position: fixed;
    top: 0;
    right: -100%;
    width: fit-content;
    height: 100vh;
    background: white;
    flex-direction: column;
    padding: 40px 20px;
    gap: 20px;
    transition: right 0.4s ease;
  }
  .nav-links a {
    color: black;
    text-align: left;
    text-transform: lowercase;
  }
  .nav-links a::first-letter {text-transform: capitalize;}

  #check:checked ~ .nav-links {
    right: 0;
  }

  .close-menu {
    display: block;
    align-self: flex-end;
  }

    h1 {
        font-size: 1.5rem;
    }
    .hero {
      padding-top: 200px;
      padding-left: 20px;
    }
    .theme {
      font-size: 1.8rem;
      font-weight: 700;
    }
    .hero p {
        font-size: 1.3rem;
    }
    .logo img {
         height: 45px;
         width: auto;
         padding-top: 10px;
    }
    .footer p, a {font-size: 0.7rem;}
}

